:root {
  // brand colors
  --c-brand: #8514F5;
  --c-brand-light: #ab63f3;
}

html.dark {
  // brand colors
  --c-brand: #F637E3;
  --c-brand-light: #f070e3;
}

.demo {
  padding: 1.25rem;
  overflow: auto;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);

  ul, p { margin: 0 }
}

.home .hero img {
  max-height: 200px;
}