/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.demo {
    padding: 1.25rem;
    overflow: auto;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);

    ul, p { margin: 0 }
}